.App{
  width: calc(100vw - 60px);
  height: calc(100vh - 60px);
  background-color: #1f1f1f;
  padding: 30px 30px
}
.header h2{
  margin-top: 0px;
  color: #ffffff;
  text-align: center;
}
.container{
  background-color: #181818;
  border-radius: 10px;
  border: 2px solid #3e3e3e;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list-area{
  background-color: #181818;
  width: auto;
  padding: 10px;
  display: block;
  border-radius: 5px;
}
.card-area{
  /* overflow-y: scroll; */
  width: auto;
  margin-top: 20px;
}
.card{
  background: #30353c;
  border: 1px solid #484e57;
  border-radius: 3px;
  padding: 10px 10px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 7px;
  align-items: center;
  }
  
  .card .MuiButtonBase-root {
    padding: 0px;
}
.card .btn-tools{
  display: flex;
  gap: 10px;
}

.card .btn-tools div{
  background: #5986c4;
}
.card p{
  margin: 0px;
  color: #ffffff;
}

.open-card .card:hover{
  border-color: #218ede;
}
.process-card .card:hover{
  border-color: #edb12b;
}
.complete-card .card:hover{
  border-color: #1cc58b;
}
.list-area-outer{
  margin: 5px;
  width: auto;
  padding: 2px;
  display: block;
  border-radius: 0px 5px 5px 5px;
  background-image: linear-gradient(#edb12b, transparent);
  height: fit-content;
}
.openListOuter{
  background-image: linear-gradient(#218ede, transparent);
}
.processListOuter{
  background-image: linear-gradient(#edb12b, transparent);
}
.completeListOuter{
  background-image: linear-gradient(#1cc58b, transparent);
}
.title-open{
  display: block;
  color: #ffffff;
  background-color: #a7a7a7;
  width: fit-content;
  margin-left: 5px;
  padding: 0px 10px 5px;
  border-radius: 5px 5px 0px 0px;
  position: relative;
  bottom: -7px;
}
.list-col{
  width: 100%;
  height: auto;
  margin-top: 0px;
  display: block;
  min-width: 400px;
}
.openTitle{
  background-color: #218ede;
}
.processTitle{
  background-color: #edb12b;
}
.completeTitle{
  background-color: #1cc58b;
}

@media(max-width: 1300px){
  .container{
    display: block;
  }
}